body {
    font-family: sans-serif;
}

#loading {
    text-align: center;
    margin-top: 20px;
}

#results img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}